*{
    font-family: "Big Shoulders Inline Display";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

    .section1{
        background-image: url("/img/backgroundSection1.png");
        height: 1024px;
        background-size: cover;
        
    }
    .navbar{
        width: 100%;
        background-color: aqua;
        height: 130px;
        display: flex;
        justify-content: center;
        gap: 3rem;
        align-items: end;
        position: fixed;
        z-index: 10;
        top: 0;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5) inset;
        
    }
    .navbar a{
        cursor: pointer;
        transition: .4s;
        opacity: .5;
        text-decoration: none;
        color: #fff;
        font-size: 34px;
        border-bottom: 2px solid transparent;
    }
    .navbar a:hover{
        opacity: 1;
        border-bottom: 2px solid #fff;
    }
    .navbar img{
        margin-right: 1rem;
        position: relative;
        top: 6rem;
    }
    .slogan-container{
        width: 100%'';
        color: #b7b7b7d0;
        text-align: center;
        position: relative;
        top: 15rem;
    }
    .slogan-container h1{
        font-size: 100px;
        letter-spacing: 10px;
    }
    .slogan-container h2{
        font-size: 60px;
        letter-spacing: 10px;
    }
    .since2024{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        color: #b7b7b7d0;
        text-align: center;
        position: relative;
        font-size: 40px;
        top: 35rem;
    }
    .since2024 img{
        height: 50px;
    }
    .section2{
        height: 1024px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 100%);
    }
    .serviços h1{
        color: #b7b7b7d0;
        font-size: 50px;
        text-align: center;
        padding: 2rem;
    }
    .serviços h2{
        color: #b7b7b7d0;
        font-size: 30px;
        text-align: center;
       
    }
    .services-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding-top: 5rem;
    }
    .services-show{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 41.5rem;
    }
    .cares{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/serv1n.png");
    }
    .beard{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/serv2.png");
    }
    .cuts{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/serv3.png");
    }
    .cares:hover{
        cursor: pointer;
        transition: .4s;
        background-image: url("/img/serv1-bw.jpg");
        width: 426px;
        height: 661px;
        
    }
    .beard:hover{                  
        cursor: pointer;
        transition: .4s;
        width: 426px;
        height: 661px;
        background-image: url("/img/serv2-bw.jpg");
    }
    .cuts:hover{ 
        cursor: pointer;
        transition: .4s;
        width: 426px;
        height: 661px;
        background-image: url("/img/serv3-bw.jpg");
    }
    .cares-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .cares-description h1{
        font-size: 45px;
        border-bottom: 2px solid #fff;
    }
    .cares-description p{
        font-size: 20px
    }

    .beard-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .beard-description h1{
        font-size: 45px;
        padding-top: 3rem;
        border-bottom: 2px solid #fff;
    }
    .beard-description p{
        font-size: 20px
    }
    .cuts-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .cuts-description h1{
        font-size: 45px;
        padding-top: 2rem;
        border-bottom: 2px solid #fff;
    }
    .cuts-description p{
        font-size: 20px
    }
    .arrow img{
        width: 42.5px;
        height: 50px;
    }
    .arrow{
       
        padding-top: 3rem;
        text-align: center;
    }
    .section3{
        display: flex;
        flex-direction: column;
        height: 1024px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgba(0,0,0,1)  100%);
    }
    .agenda{
        color: #b7b7b7d0;
        font-size: 50px;
        text-align: end;
        position: relative;
        right: 20rem;
        padding: 2rem;
    }
    .agenda-container{
        display: flex;
        justify-content:space-around;
        gap: 4rem;
    }
    .agenda-section{
        gap: 5rem;
        display: flex;
        flex-direction: column;
        color: #b7b7b7d0;
    }
    .agenda-section h1{
        font-size: 40px;
    }
    .days{
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
    .days h2{
        border-bottom: 2px solid #b7b7b7d0;
    }
    .links{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 3rem;
    }
    .links img{
        opacity: .5;
        cursor: pointer;
        transition: .4s;
    }
    .links img:hover{
        opacity: 1;
    }
    .local{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        text-align: center;
    }
    .local h1{
        font-size: 50px;
    }
    .local p{
        font-size: 30px;
    }
    .section4{
        height: 1024px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 100%);
    }
    .diferencial{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #b7b7b7d0;
        text-align: center;
        margin: 0rem 1rem 0rem 1rem;
    }
    .diferencial h1{
        font-size: 50px;

    }
    .difs-container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding-top: 5rem;
    }
    .products{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/dif1.jpg");
        background-size: cover;
    }
    .profissionais{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/dif2.jpeg");
        background-size: cover;
    }
    .espaço{
        width: 426px;
        height: 661px;
        transition: .4s;
        background-image: url("/img/dif3.png");
    }
    .products:hover{
        cursor: pointer;
        transition: .4s;
        background-image: url("/img/dif1-bw.jpg");
        width: 426px;
        height: 661px;
        
    }
    .profissionais:hover{                  
        cursor: pointer;
        transition: .4s;
        width: 426px;
        height: 661px;
        background-image: url("/img/dif2-bw.jpg");
    }
    .espaço:hover{ 
        cursor: pointer;
        transition: .4s;
        width: 426px;
        height: 661px;
        background-image: url("/img/dif3-bw.jpg");
    }
    .products-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .products-description h1{
        font-size: 45px;
        position: relative;
        top: 1rem;
        border-bottom: 2px solid #fff;
    }
    .products-description p{
        font-size: 20px;
        margin-left:1rem ;
        margin-right:1rem ;
    }

    .profissionais-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .profissionais-description h1{
        font-size: 45px;
        border-bottom: 2px solid #fff;
    }
    .profissionais-description p{
        font-size: 20px;
        margin-left:1rem ;
        margin-right:1rem ;
    }

    .espaço-description {
        transition: .4s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #ffffff;
        text-align: center;
        align-items: center;
        gap: 5rem;

    }
    .espaço-description h1{
        position: relative;
        bottom: 1rem;
        font-size: 45px;
        border-bottom: 2px solid #fff;
        
    }
    .espaço-description p{
        font-size: 20px;
        margin-left:1rem ;
        margin-right:1rem ;
    }
    .section5{
        background-image: url("/img/background2.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section5 h1{
        text-align: center;
        color: #b7b7b7d0;
        font-size: 50px;
        padding: 3rem;
    }
    .main-container{
        width: 1187px;
        height: 838px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg  ,rgba(32, 32, 32, 0.483) 0%,  rgb(0, 0, 0)100%);
        display: flex;
        align-items:center ;
        justify-content: center;

    }
    .sobre-img img{
        margin: 3rem;
    }
    .sobre{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .sobre p{
        color: #b7b7b7d0;
        text-align: center;
        font-size: 20px;
        margin: 1rem;
    }
    .sobre img{
        width: 649px;
        position: relative;
        bottom: 4rem;
    }
    footer{
        height: 50px;
        background-color: #000;
        text-align: center;
        color: #fff;
        
    }
    footer a{
        text-decoration: none;
        color: #fff;
    }
  
    /* mediaQuery */
    @media (max-width:1440px) {
        .agenda h1{
            position: relative;
            left: 8rem;
        }
        .section3{
            height: 1050px;
        }
    }
    @media (max-width:1024px) {
        .navbar{
            width: 100%;
        }
        .agenda-container img{
            display: none;
        }
        .agenda{
            position: relative;
            right: 32rem;
        }
        .section4{
            height: 1050px;
        }
        .sobre p{
            width: 500px;
        }
        .sobre img{
            width: 500px;
        }
        .main-container{
            width: 1024px;
        }
    }
    @media (max-width:768px) {
        .slogan-container h1,
        .slogan-container h2{
            text-align: start;
        }
        .since2024 h2{
            position: relative;
            bottom: 10rem;
        }

        .section1{
            width: 100%;
        }
        .services-container{
            display: flex;
            flex-direction: column;
            background-size: cover;
        }
        .cares{
            background-image: url("/img/serv1-400px.png");
            width: 600px;
            height: 400px;
        }
        .cares:hover{
            background-image: url("/img/serv1-bw-600px.jpg");
            width: 600px;
            height: 400px;
        }
        .cares-description{
            gap: 1rem;
        }
        .beard{
            background-image: url("/img/serv2600px.jpg");
            width: 600px;
            height: 400px;
        } 
        .beard:hover{
            background-image: url("/img/serv2600px-bw.jpg");
            width: 600px;
            height: 400px;
        }
        .beard-description{
            gap: 1rem;
        }
        .cuts{
            background-image: url("/img/serv3600px.jpg");
            width: 600px;
            height: 400px;
        }
        .cuts:hover{
            background-image: url("/img/serv3600px-bw.jpg");
            width: 600px;
            height: 400px;
        }
        .cuts-description{
            gap: 1rem;
        }
        .section2{
            height: 1550px;
        }
        .agenda{
            position: relative;
            right: 24rem;
        }
        .section3{height: 800px;}
        .difs-container{
            display: flex;
             flex-direction: column; 
             background-size: cover;
        }
        .products{
            background-image: url("/img/difff1600px.jpg");
            width: 600px;
            height: 400px;
        }
        .products:hover{
            background-image: url("/img/dif1600px.jpg");
            width: 600px;
            height: 400px;
        }
        .products-description{
            gap: 1rem;
        }

        .profissionais{
            background-image: url("/img/dif2600px.jpg");
            width: 600px;
            height: 400px;
        }
        .profissionais:hover{
            background-image: url("/img/serv1-bw-600px.jpg");
            width: 600px;
            height: 400px;
        }
        .profissionais-description{
            gap: 1rem;
        }

        .espaço{
            background-image: url("/img/dif3600px.jpg");
            width: 600px;
            height: 400px;
        }
        .espaço:hover{
            background-image: url("/img/dif3600-bw.jpg");
            width: 600px;
            height: 400px;
        }
        .espaço-description{
            gap: 1rem;
        }
        .section4{
            height: 1620px;
        }
        .main-container{
            display: flex;
            flex-direction: column;
            min-height: 1500px;
            width: 768px;
        }
        .section5{
            height: 1500px;
        }
        .section5 h1{
            position: relative;
            top: 3rem;
        }
    }
    @media (max-width:425px) {
        .navbar{
            width: 100%;
            display: flex;
            gap: 1rem;
            justify-content: center;
           
        }
        .navbar a{
            font-size: 20px;
        }
        .navbar img{
            height: 150px;
            position: relative;
            top: 1rem;
        }
        .slogan-container h1{
            font-size: 60px;
        }
        .section1{
            width:100%;
        }
        .cares,
        .beard,
        .cuts{
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
        .cares{
            background-image: url("/img/serv1-300px.jpg");
        }
        .cares:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv1-300px-be.jpg");
            background-size: cover;
        }
        
        .beard{
            background-image: url("/img/serv2-300px.jpg");
        }
        .beard:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv2-300px-bw.jpg");
            background-size: cover;
        }

        .cuts{
            background-image: url("/img/serv3-300px.jpg");
        }
        .cuts:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv3-300px-bw.jpg");
            background-size: cover;
        }
        .cares-description h2,
        .beard-description h2,
        .cuts-description h2{
            display: none;
        }
        .cares-description p,
        .beard-description p,
        .cuts-description p{
            width: 300px;
        }
        .section2{
            height: 1300px;
        }
        .links{
            display: block;
        }
        .agenda-section{
            gap: 4rem;
            width: 400px;
            text-align: center;
        }
        .agenda{
            position: relative;
            right: 13rem;
        }

        .products,
        .profissionais,
        .espaço{
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
        .products{
            background-image: url("/img/dif1-300px.jpg");
        }
        .products:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/sif1-300px-bw.jpg");
            background-size: cover;
        }
        
        .profissionais{
            background-image: url("/img/dif2-300px.jpg");
        }
        .profissionais:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/dif2-300px-bw.jpg");
            background-size: cover;
        }

        .espaço{
            background-image: url("/img/dif3-300px.jpg");
        }
        .espaço:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/dif3-300px-bw.jpg");
            background-size: cover;
        }
        .products-description h2,
        .profissionais-description h2,
        .espaço-description h2{
            display: none;
        }
        .products-description p,
        .profissionais-description p,
        .espaço-description p{
            width: 300px;
        }
        .section4{
            height: 1440px;
        }
        .sobre p{
            width: 100%;
            margin: 0;
        }
        .sobre{
            width: auto;
        }
        .sobre img{
            width: 100%;
            margin: 0;
        }
        .sobre-img img{
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .main-container{
            width: 100%;
        }
        .section5 h1{
            padding:0;
        }
    }
    @media (max-width: 390px) {
        .navbar{
            width: 390px;
            gap: 10px;
        }
        .navbar img{
            height: 100px;
            
        }
        .services-container{
            gap: 1rem;
        }
        .agenda{
            font-size: 40px;
        }
        .agenda-section{
            width: 350px;
        }

        .cares,
        .beard,
        .cuts{
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
        .cares{
            background-image: url("/img/serv1-300px.jpg");
        }
        .cares:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv1-300px-be.jpg");
            background-size: cover;
        }
        
        .beard{
            background-image: url("/img/serv2-300px.jpg");
        }
        .beard:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv2-300px-bw.jpg");
            background-size: cover;
        }

        .cuts{
            background-image: url("/img/serv3-300px.jpg");
        }
        .cuts:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/serv3-300px-bw.jpg");
            background-size: cover;
        }
        .cares-description h2,
        .beard-description h2,
        .cuts-description h2{
            display: none;
        }
        .cares-description p,
        .beard-description p,
        .cuts-description p{
            width: 300px;
        }
        .difs-container{
            gap: 1rem;
            
        }
        .section4{
            height: 1500px;
        }

        .products,
        .profissionais,
        .espaço{
            width: 300px;
            height: 300px;
            border-radius: 10px;
        }
        .products{
            background-image: url("/img/dif1-300px.jpg");
        }
        .products:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/sif1-300px-bw.jpg");
            background-size: cover;
        }
        
        .profissionais{
            background-image: url("/img/dif2-300px.jpg");
        }
        .profissionais:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/dif2-300px-bw.jpg");
            background-size: cover;
        }

        .espaço{
            background-image: url("/img/dif3-300px.jpg");
        }
        .espaço:hover{
            width: 300px;
            height: 300px;
            background-image: url("/img/dif3-300px-bw.jpg");
            background-size: cover;
        }
        .products-description h2,
        .profissionais-description h2,
        .espaço-description h2{
            display: none;
        }
        .products-description p,
        .profissionais-description p,
        .espaço-description p{
            width: 300px;
        }
        .sobre-img img{
            width: 300px;
        }
        .sobre{
            width: 300px;
        }
        .sobre p{
            margin: 0;
        }
        .sobre p,
        .sobre img{
            width: 300px;
            text-align: center;
        }
        #arrow{
            position: relative;
            top: 4rem;
        }
        .main-container{
         padding: 0;
        }
        .section5 h1{
            position: relative;
            top: 10rem;
            
        }
    
    }
    @media (max-width:320px) {
        .navbar img{
            height: 50px;
        }
        .navbar{
            width: 320px;
        }
    }

    /* hide */
    .hide{
        display: none;

    }
